.container{
    width:90%;
    height: 70%;
    margin:20px auto ;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
.form-control{
    width:70%;
    align-items: center;
    display:block;
    margin:10px auto 10px;
}
p{
    text-indent: 5%;
    color:black;
}
textarea{
    resize: none;
}

#submit {
    background-color: rgb(26,82,94);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:auto;
    display: block;
    width:50%;
  }
  
#submit:hover {
    background-color:rgb(45, 125, 143);  
}

#id_subject{
    color:black;
    width:90%;
    align-items: center;
    display:block;
    margin:auto auto 10px;;
}

#id_email{
    color:black;
    width:90%;
    align-items: center;
    display:block;
    margin:auto auto 10px;
}

#id_body{
    color:black;
    width:90%;
    height: 30%;
    align-items: center;
    display:block;    
    margin:auto auto 10px;    
}

.message {
    font-size: 16pt;
    align-items: center;
    margin-top: 30px;
    margin-left: 180px;
    margin-right: auto;
    text-align: center;
    background-color: rgb(26,82,94);
    color: white;
    display: block;
    justify-content: center;
    width:70%;
    padding: 0px 35px 0px 0px;
    flex-direction: column;
}

.sent {
    color: white;
}

#goback {
  background-color: rgb(26,82,94);
  border-radius: 10px;
  height: 20px;
  width: 80px;
  display: block;
  text-align: center;
  text-justify: center;
  border-color: rgb(26,82,94);
  color:white;
  font-size: 17px;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
}

#goback:hover {
    cursor:pointer;
    background-color:rgb(45, 125, 143);
    text-decoration: underline;
  
  }
#goback:active {
    background-color:rgb(65, 145, 163);
    color: black;
    text-decoration: none;
  }