/*******************************************************************************************************************************
   File Name: login_style.css
   Purpose:
     * Styles the confirm.html, forgot.html, and login.html pages
     * Formats text, input boxes, and buttons on the page
     * Establishes color, alignment, and position of page elements
*******************************************************************************************************************************/


#center-box{
    width: 60%;
    height: 45%;
    margin: 80px auto 40px;
    padding: 50px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#heading{
    text-align: center;
    font-weight: bold;
    color: #333;
    margin:0px
}   

p{
    text-indent: 15%;
    color:black;
}

form{
    width:100%;
}
/* formats login form boxes */
#id_username{
    color:black;
    width:70%;
    height:40px;
    align-items: center;
    display:block;
    margin:auto auto 10px;
}
#id_password{
    color:black;
    width:70%;
    height:40px;
    align-items: center;
    display:block;
    margin:auto auto 10px;
}
/* formats login button */
button {
    background-color: rgb(26,82,94);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:auto auto 10px;
    display: block;
    width:70%;
  }
  button:hover{
    background-color: rgb(45, 125, 143);
  }
  /* formats error list */
::marker{
    list-style: none;
    padding:0px;
  }

li{
    color:red;
    font-weight: bold;
    text-align: center;
  }

/*hides bullets in the list*/
ul{
    list-style: none;
    padding:0px;
}
/* formats forget page */
.update-info{
    color:rgb(26,82,94);
    text-decoration: none;
    font-weight: bold;
    
}
.update-info:hover{
    color:rgb(45, 125, 143);
    text-decoration: underline;
    font-weight: bold;
}

p:has(#id_email){
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%
}
#id_email{
    width:40%;
}
.helptext{
    width:40%;
}

#confirm{
    width:40%
}