/*pages styled: search.html*/
.search-box {
    width: 60%;
    height: 55%;
    margin: 40px auto 30px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    
  }
  
  .searchform{
    display:grid;
    grid-template-areas: "error error"
                         "r_num r_num"
                         "archive box"
                         "year year"
                         "submit submit";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr, repeat(3, 1.5fr);
    padding: 15px
  }
  /* styles error list */
  ::marker{
    list-style: none;
    padding:0px;
  }
  .errorlist {
    grid-area: error;
    margin: auto;
    margin-bottom: 15px;
    color: red;
  }
  
  li{
    color:red;
    font-weight: bold;
    text-align: center;
  }
  /* styles form boxes */
  p:has(#id_r_num){
    grid-area: r_num;
    width: 60%;
    margin: 5px auto;
    text-indent: 0%;
    height: 30px;
  }
  
  #id_year_archived  {
    height: 30px;
    width: 65%;
  }
  
  #id_r_num  {
    height: 30px;
    width: 70%;
  }
  
  
  
  p:has(#id_year_archived){
    grid-area: year;
    width: 60%;
    margin: 5px auto;
    text-indent: 0%;
    height: 30px;
  }
  
  p:has(#id_archived){
    grid-area: archive;
    width: 60%;
    margin-left: auto;
    text-indent: 0%;
  }
  input[type='checkbox'] { 
    grid-area: box;
    margin-bottom: 10px;
  }
  
  /* styles submit button */
  #submitbtn {
    grid-area: submit;
    background-color: rgb(26,82,94);
    color: white;
    padding: 15px 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    width: 26%;
    text-align: center;
    align-items: center;
    margin-left: 320px;
    margin-top: 30px;
  }
  