.center-box{
    width: 60%;
    height: 50%;
    margin: 40px auto 30px;
    padding: 50px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    
}
/*centers the heading inside of the centered box*/
.formheading{
    text-align: center;
    font-weight: bold;
    color: #333;
}   
p{
    text-indent: 15%;
    color:black;
}


#id_r_num{
    color:black;
    width:70%;
    height:40px;
    align-items: center;
    display:flex;
    margin:auto auto 10px;
}
#id_hatchling_num{
    color:black;
    width:70%;
    height:40px;
    align-items: center;
    display:block;
    margin:auto auto 10px;
}
/*Centers the div that contains two buttons*/
#button-container{
    text-align: center;
}

/*formats the two buttons with ids #goBack and #create to be next to each other*/
#goBack, #create{
    background-color: rgb(26,82,94);
    color: white;
    padding: 15px 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:auto auto 10px;
    display: inline-block;
    width: 32.5%;
    margin: 0px 15px
   
}
::marker{
    list-style: none;
    padding:0px;
}

li{
    color:red;
    font-weight: bold;
    text-align: center;
  }

/*hides bullets in the list*/
ul{
    list-style: none;
    padding:0px;
}

.delete {
    text-align: center;
    align-items: center;
}


.deleteaccount {
    text-align: center;
    align-items: center;
}

.delete-box {
    width: 60%;
    height: 60%;
    margin: 40px auto 30px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

#admin-link {
    background-color: rgb(26,82,94);
    color: white;
    padding: 15px 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:auto auto 10px;
    display: inline-block;
    width: 45%;
    margin: 0px 5px;
    text-decoration: none;
}

#admin-link:hover, #goBack:hover, #create:hover {
    cursor:pointer;
    background-color:rgb(45, 125, 143);
    text-decoration: underline;
  
  }
  #admin-link:active, #goBack:active, #create:active {
    background-color:rgb(65, 145, 163);
    color: black;
    text-decoration: none;
  }

.settings {
    margin-bottom: 45px;
}