#center-box{
    width: 60%;
    height: 55%;
    margin: 40px auto 30px;
    padding: 50px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    
}
/*centers the heading inside of the centered box*/
#heading{
    text-align: center;
    font-weight: bold;
    color: #333;
}   

p{
    text-indent: 15%;
    color:black;
}

#id_r_num{
    color:black;
    width:70%;
    height:40px;
    align-items: center;
    display:block;
    margin:auto auto 10px;
}
#id_hatchling_num{
    color:black;
    width:70%;
    height:40px;
    align-items: center;
    display:block;
    margin:auto auto 10px;
}

button {
    background-color: rgb(26,82,94);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:auto auto 10px;
    display: block;
    width:50%;
  
    
    
}

::marker{
    list-style: none;
    padding:0px;
}

li{
    color:red;
    font-weight: bold;
    text-align: center;
  }

/*hides bullets in the list*/
ul{
    list-style: none;
    padding:0px;
}