{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Sign Up</title>
<link rel="stylesheet" href="{% static 'turtles/login_style.css' %}">
{% endblock %}

{% block content %}
<div id = "center-box">
  <h1 id= heading>Sign Up</h1>
  {% if user.is_authenticated %}
  Please log out if you would like to create a new account.
  {% else %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
  {% endif %}
</div>
{% endblock %}