{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Sign Up</title>
<link rel="stylesheet" href="{% static 'turtles/signup_style.css' %}">
{% endblock %}

{% block content %}
<div id = "center-box">
  <h1 id= heading>Sign Up</h1>
  
  {% if user.is_authenticated %}
  Please log out if you would like to create a new account.
  {% else %}
  <h2 id="personal-info">Personal Info</h2>
  <h2 id="set-password">Set Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id= sign-up>Sign Up</button>
    <button id = 'go-back' value="button" onclick = "history.back()">Go Back</button>

  </form>
  {% endif %}
</div>
{% endblock %}