<!--*******************************************************************************************************************************
   File Name: 500.html
   Purpose:
     * creates a 500 Internal Server error page
  ******************************************************************************************************************************* -->


{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>500 Error</title>
<link rel="stylesheet" href="{% static 'turtles/style.css' %}">
{% endblock %}

{% block content %}
<h2 class="numerror">500 Internal Server Error</h2>
{% endblock %}