{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>About</title>
<link rel="stylesheet" href="{% static 'turtles/about_style.css' %}">
{% endblock %}

{% block content %}
<div class = "about">
  <div class="about-section">
    <h1>About Us</h1>
    <p class = description>This website is used by Project Terrapin to avoid tracking the growth of hatchlings through spreadsheets; the data is directly input into the website by members.</p>
    <p class = description>Our project aims to help raise awareness of the dangers that face the Northern Diamondback Terrapin species. They are a keystone species in the Barnegat Bay, meaning they are essential to the survival of the ecosystem. Our website will hopefully inspire others to get involved in the protection of terrapins, and potentially let them track the growth of hatchlings they may have found, giving them a more personal connection to the turtle(s) they helped to save.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column" id = "Angelo">
      <div class="card">
        <img src="{% static 'turtles/Angelo.png' %}" alt="Girolamo (Angelo) Amato" class = "profile_picture" style="width:100%">
        <div class="container">
          <h2> Angelo Amato</h2>
          <p class="title">MATES Class of 2023</p>
          <p>Silly Goose University Class of 2027</p>
          <p>Computer Science Major</p>
          <p>gangeloamato@gmail.com</p>
          <p><button class="contact_button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" id = "Aidan">
        <img src="{% static 'turtles/Aidan.png' %}" alt="Aidan Henbest" class = "profile_picture" style="width:100%">
        <div class="container">
          <h2>Aidan Henbest</h2>
          <p class="title">MATES Class of 2023</p>
          <p>Clown College International Class of 2027 </p>
          <p>Computer Science Major</p>
          <p>henbestaj@gmail.com</p>
          <p><button class="contact_button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" id = "Lisa">
        <img src= "{% static 'turtles/Lisa.png' %}" alt="Lisa Hunt" class = "profile_picture" style="width:100%">
        <div class="container">
          <h2>Lisa Hunt</h2>
          <p class="title">MATES Class of 2023</p>
          <p>Brown University Class of 2027</p>
          <p>Mathmatics Major</p>
          <p>lhiusnat@gmail.com</p>
          <p><button class="contact_button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}