{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>About</title>
<link rel="stylesheet" href="{% static 'turtles/about_style.css' %}">
{% endblock %}

{% block content %}
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static 'turtles/Angelo.png' %}" alt="Girolamo (Angelo) Amato" style="width:100%">
        <div class="container">
          <h2> Angelo Amato</h2>
          <p class="title">MATES Class of 2023</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="contact_button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'turtles/Angelo.png' %}" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Aidan Henbest</h2>
          <p class="title">MATES Class of 2023</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="contact_button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src= "{% static 'turtles/Angelo.png' %}" alt="John" style="width:100%">
        <div class="container">
          <h2>Lisa Hunt</h2>
          <p class="title">MATES Class of 2023</p>
          <p>A huge ass nerd who is going to major (or concentrate) in math at Brown University next yrrrrr</p>
          <p>john@example.com</p>
          <p><button class="contact_button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}