{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'turtles/style.css' %}">
        <link rel="icon" href="{% static 'turtles/logo.png' %}">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class = grid-container> 
            <a href = "{% url 'home' %}"><img src = "{% static 'turtles/logo.png' %}" id = 'logo' alt= 'Project Terapin Logo'></a>
            <h1 class = 'heading'>TerrapinTracker</h1>
            {% if user.is_authenticated %}
            <button id = 'signIn' onclick = "signOut()">Log out</button>
            <script>
                function signOut() {
                    window.location.href="{% url 'logout' %}";
                }
            </script>
            {% else %}
            <button id = 'signIn' onclick = "signIn()">Log in</button>
            <script>
                function signIn() {
                    window.location.href="{% url 'login' %}";
                }
            </script>
            {% endif %}
            <div class="search-container">
                {% with error=0 %}
                <a class="searchbutton" title="Search" href="{% url 'search' error %}"><span class="mglass">&#9906;</span></a>
                {% endwith %}
            </div>
            <div class="settings-container">
                <a class="settingsbutton" title="Settings" href = "{% url 'settings' confirmation %}"><img src = "{% static 'turtles/settings.png' %}" id = 'settings' alt= 'Settings gear'></a>
            </div>
            <div class="topnav">
                <a class="{{ home_act }}" href="{% url 'home' %}">Home</a>
                <a class="{{ about_act }}" href="{% url 'about' %}">About</a>
                <a class="{{ current_act }}" href="{% url 'current' %}">Current Turtles</a>
                <a class="{{ released_act }}" href="{% url 'released' %}">Released Turtles</a>
                <a class="{{ contact_act }}" href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
