<!DOCTYPE html>
{% load static %}

<head>
    <title>TerrapinTracker</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class = grid-container> 
        <img src = "{% static 'turtles/logo.png' %}" id = 'logo' alt= 'Project Terapin Logo'>
        <h1 class = 'heading'>TerrapinTracker</h1>
        <div class="search-container">
            <form action="/search" method="get">
                <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
                <label class="searchbutton" for="searchright" title="Search"><span class="mglass">&#9906;</span></label>
            </form>
        </div>
        <div class="topnav">
            <a class="active" href="">Home</a>
            <a href="#">About</a>
            <a href="#">Active Turtles</a>
            <a href="#">Released Turtles</a>
            <a href="#">Archive</a>
            <a href="#">Contact</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
