{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Current Turtles</title>
<link rel="stylesheet" href="{% static 'turtles/current_style.css' %}">
{% endblock %}

{% block content %}
<div class="current">
    <br>
    <a href="{% url 'TurtleCreate' %}">New Turtle</a>
    <br>
    <a href="{% url 'MeasurementCreate' %}">New Measurement</a>
    <div class="current-title">
        <head>Hatchling Numbers</head>
    </div>
    <div class="r">
        <br>
        {% for r_num in r_nums %}
        <h2>R Group {{ r_num.r_num }}</h2>
        <table class="current-table" id="r">
            <tr>
                {% for turtle in Turtle %}
                    {% if turtle.r_num == r_num.r_num %}
                <td>{{ turtle.r_num }}-{{ turtle.hatchling_num }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        <br>
        {% endfor %}
        <br>    
    
    <div>
        <table class="turtles-table">
            <caption>List of Turtles</caption>
            <thead>
                <tr>
                    <th>R Number</th>
                    <th>Hatchling Number</th>
                </tr>
            </thead>
            <tbody>
                {% for turtle in Turtle %}
                <tr>
                    <td>{{ turtle.r_num }}</td>
                    <td>{{ turtle.hatchling_num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="measurment-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                </tr>
            </thead>
            <tbody>
                {% for measurment in Measurment %}
                <tr>
                    <td>{{ measurment.date }}</td>
                    <td>{{ measurment.display_turtle }}</td>
                    <td>{{ measurment.carapace_length }}</td>
                    <td>{{ measurment.carapace_width }}</td>
                    <td>{{ measurment.plastron_length }}</td>
                    <td>{{ measurment.carapace_height }}</td>
                    <td>{{ measurment.mass }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}