{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Current Turtles</title>
<link rel="stylesheet" href="{% static 'turtles/current_style.css' %}">
{% endblock %}

{% block content %}
{% if no_turtles %}
<div class="current-title">
    <head>No Measurements Are Available for Turtles in This R Group, Sorry!</head>
</div>
{% else %}
<div class="current-title">
    <head>Measurement History</head>
</div>
<div class="current">
    <div class="table-box">
        <table class="measurement-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                </tr>
            </thead>
            <tbody>
                {% for measurement in Measurement %}
                {% if measurement.turtle.r_num == r %}
                    <tr>
                        <td>{{ measurement.date }}</td>
                        <td>{{ measurement.display_turtle }}</td>
                        <td>{{ measurement.carapace_length }}</td>
                        <td>{{ measurement.carapace_width }}</td>
                        <td>{{ measurement.plastron_length }}</td>
                        <td>{{ measurement.carapace_height }}</td>
                        <td>{{ measurement.mass }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    <div class = 'graphs'>
        <br>
        <h2>Measurement Graphs:</h2>
        <img src="{% static path1 %}" alt="Length by Width Scatterplot" class = "graph" style="width:30%"> <img src="{% static path2 %}" alt="Length by Width KDE" class = "graph" style="width:30%"> <img src="{% static path3 %}" alt="Length by Date Boxplot" class = "graph" style="width:30%">
        <br>
        <br>
        <img src="{% static path4 %}" alt="Length by Height Scatterplot" class = "graph" style="width:30%"> <img src="{% static path5 %}" alt="Length by Height KDE" class = "graph" style="width:30%"> <img src="{% static path6 %}" alt="Height by Date Boxplot" class = "graph" style="width:30%">
        <br>
        <br>
        <div class = 'massgraphs'><img src="{% static path7 %}" alt="Mass Histogram" class = "graph" style="width:37%"> <img src="{% static path8 %}" alt="Turtle ID by Height Boxplot" class = "graph" style="width:37%">
        </div>

        <br><br><br>
    </div>
    <a href="{% url 'current' %}" id="goback">Go back</a>
</div>
{% endif %}
{% endblock %}