<!-- shows specific information about terrapins in specific R group through measurement table and graphs-->
<!--stylesheet: current_style.css-->
{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Measurement History</title>
<link rel="stylesheet" href="{% static 'turtles/current_style.css' %}">
{% endblock %}

{% block content %}
{% if no_turtles %}
<div class="current-title">
    <head>No Measurements Are Available for Turtles in This R Group, Sorry!</head>
</div>
{% else %}
<div class="current-title">
    <head>Measurements</head>
</div>
<div class="current">
    <div class="table-box">
        <table class="measurement-table">
            <!-- creates table for active turtle data -->
            <thead>
                <tr>
                    <!-- creates table columns -->
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                </tr>
            </thead>
            <tbody>
                <!-- creates table rows -->
                {% for measurement in Measurement %}
                <!-- only displays measurements for active turtles within the R group -->
                {% if measurement.turtle.r_num == r and measurement.turtle.year_archived == year_archived %}
                    <tr>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.date }}</a></td>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.display_turtle }}</a></td>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.carapace_length }}</a></td>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.carapace_width }}</a></td>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.plastron_length }}</a></td>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.carapace_height }}</a></td>
                        <td><a href = "{% url 'MeasurementHistory' measurement.id  %}">{{ measurement.mass }}</a></td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    <div class = 'graphs'>
        <!-- displays graphs -->
        <br>
        <br>
        <h2 class="gtext ctext">Measurement Graphs</h2>
        <br>
        <div class="graphimage">
            <img src="{% static path1 %}" alt="Length by Width Scatterplot" class = "graph" style="width:30%"> <img src="{% static path2 %}" alt="Length by Width KDE" class = "graph" style="width:30%"> <img src="{% static path3 %}" alt="Length by Date Boxplot" class = "graph" style="width:30%">
            <br>
            <img src="{% static path4 %}" alt="Length by Height Scatterplot" class = "graph" style="width:30%"> <img src="{% static path5 %}" alt="Length by Height KDE" class = "graph" style="width:30%"> <img src="{% static path6 %}" alt="Height by Date Boxplot" class = "graph" style="width:30%">
            <br>
            <div class = 'massgraphs'><img src="{% static path7 %}" alt="Mass Histogram" class = "graph" style="width:37%"> <img src="{% static path8 %}" alt="Turtle ID by Height Boxplot" class = "graph" style="width:37%">
            </div>
        </div>
        <br><br><br>
    </div>
    {% endif %}
    <div class="current-title">
        <head>Turtles in R Group</head>
    </div>
    <div class="turtles">
        <!-- creates list of turtle history links -->
        {% for turtle in unique_turtles %}
        <!-- links to individual turtle history -->
        <a href = "{% url 'TurtleHistory' turtle.id  %}" class="turtle-link">{{ turtle }}</a>
        {% endfor %}
    </div>
    <div id="nav">
        <!-- redirects user to last opened page -->
        <a onclick = "history.back()" id="goBack">Go Back</a>
        <!-- links to the deleted measurements page -->
        <a href = "{% url 'DeletedMeasurement' year_archived r %}" id="deletebtn">Deleted Measurments for R Group {{ r }}</a>
    </div>
</div>
{% endblock %}