{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Current Turtles</title>
<link rel="stylesheet" href="{% static 'turtles/current_style.css' %}">
{% endblock %}

{% block content %}
<div class="current">
    <div class="current-title">
        <head>Turtles by R Number</head>
    </div>
    <!-- <img src = "{% static 'turtles/logo.png' %}" id = 'logo'> -->
    <table class="current-table">
        <tr> 
            <td><a class="r3" href="">R3</a></td>
            <td><a class="r6" href="">R6</a></td>
            <td><a class="r7" href="">R7</a></td>
            <td><a class="r8" href="">R8</a></td>
            <td><a class="r9" href="">R9</a></td>
        </tr>
        <tr>
            <td><a class="r10" href="">R10</a></td>
            <td><a class="r11" href="">R11</a></td>
            <td><a class="r12" href="">R12</a></td>
            <td><a class="r13" href="">R13</a></td>
            <td><a class="r14" href="">R14</a></td>
        </tr>
    </table>
    <div>
        <table class="turtles-table">
            <caption>List of Turtles</caption>
            <thead>
                <tr>
                    <th>R Number</th>
                    <th>Hatchling Number</th>
                </tr>
            </thead>
            <tbody>
                {% for turtle in Turtle %}
                <tr>
                    <td>{{ turtle.r_num }}</td>
                    <td>{{ turtle.hatchling_num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="measurment-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                </tr>
            </thead>
            <tbody>
                {% for measurment in Measurment %}
                <tr>
                    <td>{{ measurment.date }}</td>
                    <td>{{ measurment.turtle_id }}</td>
                    <td>{{ measurment.carapace_length }}</td>
                    <td>{{ measurment.carapace_width }}</td>
                    <td>{{ measurment.plastron_length }}</td>
                    <td>{{ measurment.carapace_height }}</td>
                    <td>{{ measurment.mass }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}