{% extends 'turtles/base.html' %}

{% block head %}
<title>Current Turtles</title>
{% endblock %}

{% block content %}
<div class="current">
    <div>
        <table class="turtles-table">
            <caption>List of Turtles</caption>
            <thead>
                <tr>
                    <th>R Number</th>
                    <th>Hatchling Number</th>
                </tr>
            </thead>
            <tbody>
                {% for turtle in Turtle %}
                <tr>
                    <td>{{ turtle.r_num }}</td>
                    <td>{{ turtle.hatchling_num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="measurment-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                </tr>
            </thead>
            <tbody>
                {% for measurment in Measurment %}
                <tr>
                    <td>{{ measurment.date }}</td>
                    <td>{{ measurment.turtle_id }}</td>
                    <td>{{ measurment.carapace_length }}</td>
                    <td>{{ measurment.carapace_width }}</td>
                    <td>{{ measurment.plastron_length }}</td>
                    <td>{{ measurment.carapace_height }}</td>
                    <td>{{ measurment.mass }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}