{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Current Turtles</title>
<link rel="stylesheet" href="{% static 'turtles/current_style.css' %}">
{% endblock %}

{% block content %}
<div class="current">
    <div>
        <table class="measurment-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                </tr>
            </thead>
            <tbody>
                {% for measurement in Measurement %}
                {% if measurement.turtle.r_num == r %}
                    <tr>
                        <td>{{ measurement.date }}</td>
                        <td>{{ measurement.display_turtle }}</td>
                        <td>{{ measurement.carapace_length }}</td>
                        <td>{{ measurement.carapace_width }}</td>
                        <td>{{ measurement.plastron_length }}</td>
                        <td>{{ measurement.carapace_height }}</td>
                        <td>{{ measurement.mass }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h2>Graph:</h2>
        <img src="{% static path %}" alt="Plot R" class = "graph" style="width:50%">
    </div>
</div>
{% endblock %}