{% extends 'turtles/base.html' %}
{% load static %}
{% block head %}
<title>TerrapinTracker</title>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'script.js' %}"></script>
<link rel="stylesheet" href="{% static 'turtles/current_style.css' %}">

{% endblock %}

{% block content %}
<div class="test">
    {% if user.is_authenticated %}
    <br>
    <h1>Hello {{ user.first_name }}!</h1>
    {% endif %}
</div>
<div class = graphs>
    <img src="{% static path9 %}" alt="Length by Width Scatterplot" class = "graph" style="width:30%">
</div>
{% endblock %}