{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Archive Multiple Turtles</title>
<link rel="stylesheet" href="{% static 'turtles/archive_style.css' %}">
{% endblock %}

{% block content %}
<div class = "center-box">
  <h1 class = "formheading">Archive Multiple Turtles</h1>
  <form method="POST" class = "form_box">
    {% csrf_token %}
    {{ form.as_p }}
    <div id = "nav_buttons">
      <button id = 'goBack'  type = "button" onclick = "history.back()">Go back</button>
      <button type="submit" value="Submit" id="archive">Archive</button>
    </div>
  </form>
</div>
{% endblock %}
