<!--shows the specific measurement history for a turtle-->
<!--stylesheet:measurement_history_style.css-->

{% extends 'turtles/base.html' %}
{% load static %}
{% block head %}
<title>Measurement History</title>
<link rel="stylesheet" href="{% static 'turtles/measurement_history_style.css' %}">
{% endblock %}

{% block content %}
<div class="current">
    {% if not deleted %}
    <div id="center-box">
    <h1 id="heading">Edit Measurement History</h1>
    <form action="{% url 'MeasurementHistory' id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- creates error list for styling -->
        {% if form.errors %}
      <ol class = error_list>
        {% for key,value in form.errors.items %} 
        <li class="error">{{ value|escape }}</li>
        {% endfor %}
      </ol>
        {% endif %} 
        <div id="nav">
            <a id = 'goback'  type = "button" onclick = "history.back()">Go back</a>
            <input type="submit" value="Submit" id=submitbtn>
        </div>
    </form>
    </div>
    {% endif %}
    
    <div class="table-box2">
        <!-- creates history table -->
        <table class="measurement-table">
            <thead>
                <tr>
                    <!-- creates table columns -->
                    <th>Date</th>
                    <th>Turtle</th>
                    <th>Carapace Length</th>
                    <th>Carapace Width</th>
                    <th>Plastron Length</th>
                    <th>Carapace Height</th>
                    <th>Mass</th>
                    <th>Editor</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                </tr>
            </thead>
            <tbody>
                <!-- creates table rows -->
                {% for measurement in history %}
                <!-- displays past measurements -->
                    <tr>
                        <td>{{ measurement.date }}</td>
                        <td>{{ measurement.display_turtle }}</td>
                        <td>{{ measurement.carapace_length }}</td>
                        <td>{{ measurement.carapace_width }}</td>
                        <td>{{ measurement.plastron_length }}</td>
                        <td>{{ measurement.carapace_height }}</td>
                        <td>{{ measurement.mass }}</td>
                        <td>{{ measurement.editor }}</td>
                        <td>{{ measurement.valid_from }}</td>
                        {% if measurement.valid_to == None %}
                        <td></td>
                        {% else %}
                        <td>{{ measurement.valid_to }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if not deleted %}
    <a href="{% url 'MeasurementDelete' id %}" id="nav-delete">Delete Measurement</a>
    {%else%}
    <!-- redirects user to last opened page -->
    <a id = 'goback'  type = "button" onclick = "history.back()">Go Back</a>
    {% endif %}

</div>
{% endblock %}