{% extends 'turtles/base.html' %}
{% load static %}

{% block head %}
<title>Create New Turtle</title>
<link rel="stylesheet" href="{% static 'turtles/turtle_style.css' %}">
{% endblock %}

{% block content %}
<div id = "center-box">
  <h1 id = "heading">Create New Turtle</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div id = "button-container">
      <button type="submit" value="Submit" id="create">Create</button>
    </div>  
  </form>
  <button id = 'goBack' onclick = "goBack()">Go back</button>
  <script>
      function goBack() {
          window.location.href="{% url 'current' %}";
      }
  </script>

  
</div>
{% endblock %}
