{% extends 'turtles/base.html' %}
{% load static %}
{% block head %}
<title>Search</title>
<link rel="stylesheet" href="{% static 'turtles/turtle_style.css' %}">
{% endblock %}

{% block content %}
<div class="search-box">
    <h3 style="text-align: center; font-size: 30px; font-weight: bold;">Search</h3>
    <form action="/search/" method="post" class="searchform">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" id=submitbtn>
    </form>
  </div>
{% endblock %}