<!-- lets the user change their username, password, and delete their account-->
<!--stylesheets: turtle_style.css, settings_style.css-->
{% extends 'turtles/base.html' %}
{% load static %}
{% block head %}
<title>Settings</title>
<link rel="stylesheet" href="{% static 'turtles/turtle_style.css' %}">
<link rel="stylesheet" href="{% static 'turtles/settings_style.css' %}">

{% endblock %}

{% block content %}
<div class="center-box">
  <h1 class="settings-formheading">Settings</h1>
    {{ data }}
  <div class="admin">
    <!-- links to admin site only if user has superuser status -->
    {% if user.is_superuser %}
    <a href="{% url 'admin:index' %}" id="admin-link">Administrator Settings</a>
    {% endif %}
  </div>
<!-- creates different forms for settings page -->
  <div class="change-name">
    <h3 style="font-size: 20px">Change Name:</h3>
    <form action="/settings/{{ confirmation }}/" method="post">
      {% csrf_token %}
      {{ name.as_p }}
      <input type="submit" value="Change Name" class="submitbtnsettings">
    </form>
  </div>

  <div class="change-password">
    <h3 style="font-size: 20px">Change Password:</h3>
    <form action="/settings/{{ confirmation }}/" method="post">
      {% csrf_token %}
      {{ password.as_p }}
      <input type="submit" value="Change Password" class="submitbtnsettings">
    </form>
  </div>

  <div class="delete-account">
    <h3 style="font-size: 20px">Delete Account:</h3>
    {% for i in confirmation %}
    {{ i }} 
    {% endfor %}

    <form action="/settings/{{ confirmation }}/" method="post">
      {% csrf_token %}
      {{ delete.as_p }}
      <input type="submit" value="Delete Account" class="submitbtnsettings">
    </form>
  </div>
</div>
{% endblock %}